@page
@model LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Log in";
}

<section id="login-main">
    <div class="container login-con">
        <!-- Logo Image -->
        <div class="text-center upper-log">
            <img class="gedsi-logo" src="~/images/v2gadologo.png" alt="gado-logo">
        </div>
        <!-- System Name -->
        <h2 class="text-center" style="font-family: 'Staatliches', serif; color: #464040;">GEDSI HUB</h2>
        <p class="text-center">Sign in to start your session</p>

        <!-- Login Form -->
        <form class="input-form login-form" method="post">
            <!-- Validation Summary -->
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Email Input -->
            <div class="mb-3">
                <input asp-for="Input.Email" class="focus-ring focus-ring-light form-control d-flex justify-content-center align-items-center input-box" autocomplete="username" type="email" placeholder="Webmail" aria-required="true" required="" pattern="^[a-zA-Z0-9._%+-]+@@.+\.(pup|edu|com)$" />

                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Password Input -->
            <div class="mb-3">
                <input asp-for="Input.Password" class="focus-ring focus-ring-light form-control d-flex justify-content-center align-items-center input-box" autocomplete="current-password" type="password" placeholder="Password" aria-required="true" required="" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Remember Me and Forgot Password -->
            <div class="d-flex justify-content-between login-ftr">
                <div class="form-check text-start">
                    <input class="form-check-input" asp-for="Input.RememberMe" id="formCheck-1" />
                    <label class="form-check-label" asp-for="Input.RememberMe" for="formCheck-1"></label>
                </div>
                <a asp-page="./ForgotPassword">Forgot Password?</a>
            </div>

            <!-- Submit Button -->
            <div class="mb-3">
                <button class="shadow-sm d-block w-100 submit-btn" type="submit" title="Click to login">Sign in</button>
            </div>

            <!-- Register Link -->
            <div class="maroon-link mb-3">
                <p class="text-center">Don't have an account? <a asp-page="./Register">Register</a></p>
            </div>
            
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- Include additional scripts if necessary -->
}
