@page
@model RegisterModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

<section id="reg-main">
    <div class="container reg-con">
        <!-- Container Elements -->
        <div class="text-center upper-log">
            <img class="gedsi-logo" src="~/images/v2gadologo.png" alt="gado-logo">
        </div>
        <h2 class="text-center" style="font-family: Staatliches, serif;color: #464040;">GEDSI HUB</h2>
        <p class="text-center"><span style="color: rgb(33, 37, 41);">Fill up to activate your account</span></p>

        <form id="registerForm" method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Email Input -->
            <div class="mb-3">
                <input asp-for="Input.Email"
                       class="focus-ring focus-ring-light form-control"
                       placeholder="Webmail"
                       aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Password Input -->
            <div class="mb-3">
                <input asp-for="Input.Password"
                       class="form-control"
                       data-bs-toggle="tooltip"
                       placeholder="Password"
                       aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Confirm Password Input -->
            <div class="mb-3">
                <input asp-for="Input.ConfirmPassword"
                       class="form-control"
                       placeholder="Confirm Password"
                       required />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <!-- Select Role -->
            <div class="mb-3">
                <select asp-for="Input.Role"
                        class="form-control focus-ring focus-ring-light form-select select-role"
                        required>
                    <option value="" disabled selected>Select your role</option>
                    <option value="Student">Student</option>
                    <option value="Employee">Employee</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <button id="registerSubmit" type="submit" class="shadow-sm d-block w-100 submit-btn">Activate</button>

            <!-- Sign in Link -->
            <div class="maroon-link mb-3">
                <p class="text-center">Already have an account? <a asp-page="./Login">Sign in</a></p>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
