    @model GedsiHub.Models.Lesson

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Edit Lesson";
}

<!-- Edit Lesson -->
<div>
    <!-- Modules Header Title-->
    <h1 class="modules_title" style="color: #464040;">Edit Lesson</h1>
    <!-- Horizontal Break -->
    <div style="height: 1px;background: rgb(183,186,199);border-color: #9C9C9C;"></div>

    <!-- Form for editing the lesson -->
    <form asp-action="Edit">

        <!-- Hidden field for moduleId -->
        <input type="hidden" asp-for="LessonId" />

        <!-- Hidden field for ModuleId -->
        <input type="hidden" asp-for="ModuleId" />

        <!-- Edit Lesson Container -->
        <div class="container create_lesson_container" id="create_lesson_container">

            <!-- Lesson Number and Title -->
            <div class="row">
                <div class="col-md-6 col-xl-5 col-xxl-4">
                    <!-- Lesson No. Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Number</h1>
                    <!-- Lesson No. Input-->
                    <div class="form-group">
                        <input asp-for="LessonNumber" class="form-control InputBox" placeholder="Enter Lesson Number" required />
                        <span asp-validation-for="LessonNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col" style="padding-left: 35px;">
                    <!-- Lesson Title Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Title</h1>
                    <!-- Lesson Title Input -->
                    <div class="form-group">
                        <input asp-for="Title" class="form-control InputBox" placeholder="Enter Lesson Title" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Lesson Overview -->
            <div class="row">
                <div class="col lesson-overview-col">
                    <!-- Overview label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Overview</h1>
                    <!-- Overview Textarea -->
                    <div class="form-group">
                        <textarea asp-for="Overview" class="form-control overview_textarea" placeholder="Enter a brief overview of the lesson" maxlength="250"></textarea>
                        <span asp-validation-for="Overview" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Action Buttons -->
            <div id="Create-lesson-button-container" class="button-container">
                <!-- Cancel Button -->
                <a asp-action="Details" asp-controller="Module" asp-route-id="@Model.ModuleId" id="cancelButton" class="btn fw-bolder cancelButton">Cancel</a>

                <!-- Save Button -->
                <button type="submit" class="fw-bolder SubmitButton">Save Changes</button>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
