<!-- Views/Feedback/Index.cshtml -->
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Feedback";
}



<div>
    <div class="feedback-title-searcbar-con">
        <h1 id="feedback-responses-title" class="modules_title" style="color: #464040;">Feedback Responses</h1>
    </div>
    <hr>
    <div class="report-sugg-con">
        <span class="provide-feedback-guide-text">We value your input and are committed to improving our website. Please choose the type of feedback you would like to provide.</span>
        <div class="container complaint-nav-con">
            <span class="label-for-feedback-card">Report a Complaint</span>
            <span>If you have encountered any problems or bugs on our website, please let us know. Your report will help us make the site better for everyone.</span>
            <a href="@Url.Action("Complaint", "Feedback")" class="go-to-button-feedback">Go to Complaint Form</a>
        </div>
        <div class="container complaint-nav-con">
            <span class="label-for-feedback-card">Submit a Suggestion</span>
            <span>Do you have an idea or suggestion to enhance our website? We would love to hear from you! Share your thoughts on new features, improvements, or changes.</span>
            <a href="@Url.Action("Suggestion", "Feedback")" class="go-to-button-feedback">Go to Suggestion Form</a>
        </div>
    </div>
</div>


