@model GedsiHub.Models.Module
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Create Module";
}




<div>
    <h1 id="addNewModule_HeaderTitle" class="modules_title" style="color: #464040;">Add a New Module</h1>
    <div style="height: 1px;background: rgb(183,186,199);border-color: #9C9C9C;"></div>
    <div class="container AddModuleDataContainer" id="moduleCards_container">
        <div class="row">
            <div class="col-md-6 col-xl-5 col-xxl-4">
                <h1 style="color: #464040;font-size: 20px;">Number</h1>
                <input type="text" id="AddModule_NumberInput" class="InputBox" placeholder="Enter Module Number">
            </div>
            <div class="col-md-6 col-xl-7 col-xxl-8" style="padding-left: 35px;">
                <h1 style="color: #464040;font-size: 20px;">Title</h1>
                <input type="text" id="AddModule_TitleInput" class="InputBox" placeholder="Enter Module Title" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xxl-2 AddModule_Icon">
                <h1 style="color: #464040;font-size: 20px;">Module Icon</h1>
                <h1 id="AddModule_Icon_Guidelines" style="color: #464040;font-size: 20px;"></h1>
                <div style="width: 7.5625rem; height: 7.9375rem; background: #EFF0F4; border-radius: 0.625rem;"></div>
            </div>
            <div class="col" style="padding-left: 0px;padding-top: 4.5rem;color: #464040;">
                <p class="AddModule_Icon_Guidelines">
                    <span style="color: rgb(110, 116, 133);">Select an icon that best represents and symbolizes the content of this module. This icon will be used to visually identify the module within the GEDSI Hub.</span>
                    <br><br>
                </p>
                <button class="btn AddIcon_Button" type="button">
                    Choose an Icon&nbsp;&nbsp;
                    <img class="chooseIcon" src="~/images/Choose.png">
                </button>
            </div>
        </div>
        <div class="button-container">
            <button id="cancelButton" class="btn fw-bolder cancelButton" type="button" onclick="window.location.href='modules';">Cancel</button>
            <button id="AddModuleButton" class="fw-bolder SubmitButton" type="button"  onclick="window.location.href='/Module/LessonsOverview'">Add Module</button>
        </div>
    </div>
</div>



<h2>Create New Module</h2>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
