@model GedsiHub.Models.Module
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Create Module";
}

<div>
    <h1 id="addNewModule_HeaderTitle" class="modules_title" style="color: #464040;">Add a New Module</h1>
    <hr class="custom-hr">

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken() <!-- Anti-forgery token to prevent CSRF -->
        <!-- Display validation summary for model binding errors -->
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="container AddModuleDataContainer" id="moduleCards_container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Module Title -->
                    <h1 style="color: #464040; font-size: 1.5625rem;">Title</h1>
                    <input asp-for="Title" class="form-control InputBox" placeholder="Enter Module Title" id="AddModule_TitleInput" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Module Description -->
                    <h1 style="color: #464040; font-size: 1.5625rem;">Description</h1>
                    <textarea asp-for="Description" class="form-control InputBox-ta" rows="3" placeholder="Enter Module Description" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Module Status -->
                    <h1 style="color: #464040; font-size: 1.5625rem;">Status</h1>
                    <select asp-for="Status" class="form-control InputBox" id="Module_Status" required>
                        <option value="Unpublished">Unpublished</option>
                        <option value="Published">Published</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="PositionInt" />


            <!-- Color Picker -->
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: #464040; font-size: 1.5625rem;">Color</h1>
                    <div class="create_moduleIcon_container" style="color: rgb(33, 37, 41); margin-left: 0px;">
                        <div class="picker-container">
                            <img class="ModuleTempIcon" src="~/images/GADO_Logo_white.png" />
                            <input asp-for="Color" type="color" class="ColorInput" id="Module_Color" required />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Certificate Generation -->
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: #464040; font-size: 1.5625rem;">Color</h1>
                    <div class="form-group">
                        <label for="IsCertificateEnabled">Enable Certificate Generation</label>
                        <input type="checkbox" asp-for="IsCertificateEnabled" class="form-control" />
                    </div>
                </div>
            </div>
            

            <div class="button-container">
                <!-- Cancel Button -->
                <a asp-controller="Module" asp-action="Index" id="cancelButton" class="btn fw-bolder cancelButton">Cancel</a>
                <!-- Submit Button -->
                <button type="submit" class="btn fw-bolder SubmitButton">Add Module</button>
            </div>
        </div>
        

    </form>
</div>

@section Scripts {
    <!-- This ensures validation scripts are loaded for client-side validation -->
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
