@model GedsiHub.Models.Module
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Create Module";
}

<!-- Create Module-->
<div>

    <!-- Header Title -->
    <h1 id="addNewModule_HeaderTitle" class="modules_title" style="color: #464040;">Add a New Module</h1>
    <!-- Horizontal Break -->
    <div style="height: 1px;background: rgb(183,186,199);border-color: #9C9C9C;"></div>

    <!-- Form for creating a new module -->
    <form asp-action="Create" method="post">
        <div class="container AddModuleDataContainer" id="moduleCards_container">
            <div class="row">
                <!-- Module No. Input-->
                <div class="col-md-6 col-xl-5 col-xxl-4">
                    <!-- Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Number</h1>
                    <!-- Input -->
                    <input class="form-control InputBox" placeholder="Enter Module Number" id="AddModule_NumberInput" />
                    <span class="text-danger"></span>
                </div>

                <!-- Module Title Input -->
                <div class="col-md-6 col-xl-7 col-xxl-8" style="padding-left: 35px;">
                    <!-- Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Title</h1>
                    <!-- Input -->
                    <input asp-for="Title" class="form-control InputBox" placeholder="Enter Module Title" id="AddModule_TitleInput" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <!-- Description Textarea Input-->
                <div class="col-md-12">
                    <!-- Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Description</h1>
                    <!-- Eescription Input -->
                    <textarea asp-for="Description" class="form-control InputBox-ta" rows="" placeholder="Enter Module Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

        
            <div class="button-container">
                <!-- Cancel Button -->
                <a asp-controller="Module" asp-action="Index" id="cancelButton" class="btn fw-bolder cancelButton">Cancel</a>

                <!-- Add Module Button -->
                <button type="submit" class="btn fw-bolder SubmitButton">Add Module</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
