@model GedsiHub.Models.Module
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Delete Module";
}
<h2>Delete Module</h2>

<h3>Are you sure you want to delete this module?</h3>
<div>
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ModuleId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
