@model GedsiHub.Models.Module
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Edit Module";
}

<!-- Edit Module -->
<div>
    <!-- Header Title -->
    <h1 id="editModule_HeaderTitle" class="modules_title" style="color: #464040;">Edit Module</h1>
    <!-- Horizontal Break -->
    <div style="height: 1px;background: rgb(183,186,199);border-color: #9C9C9C;"></div>

    <!-- Form for editing the module -->
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="ModuleId" />

        <div class="container AddModuleDataContainer" id="moduleCards_container">
            <div class="row">
                <!-- Module Title Input -->
                <div class="col-md-12">
                    <!-- Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Title</h1>
                    <!-- Input -->
                    <input asp-for="Title" class="form-control InputBox" placeholder="Enter Module Title" id="EditModule_TitleInput" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <!-- Description Textarea Input-->
                <div class="col-md-12">
                    <!-- Label -->
                    <h1 style="color: #464040;font-size: 1.5625rem;">Description</h1>
                    <!-- Description Input -->
                    <textarea asp-for="Description" class="form-control InputBox-ta" rows="4" placeholder="Enter Module Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="button-container">
                <!-- Cancel Button -->
                <a asp-controller="Module" asp-action="Index" id="cancelButton" class="btn fw-bolder cancelButton">Cancel</a>

                <!-- Save Module Button -->
                <button type="submit" class="btn fw-bolder SubmitButton">Save Changes</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
