@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="error-page">
    <div class="error-container"><img src="~/images/403.png" />
        <span>403 ERROR</span>
        <span>Access Denied</span>
        <span>Sorry, you don&#39;t have permission to access this file.</span>
        <button class="error-go-back-button" type="button">Go Back</button>
    </div>
</div>


<div class="error-page">
    <div class="error-container"><img src="~/images/404.png" />
        <span>404 ERROR</span><span>Page Not Found</span>
        <span>Opps! The page you&#39;re looking for doesn&#39;t exist. It might have been moved or deleted.</span>
        <button class="error-go-back-button" type="button">Go Back</button>
    </div>
</div>