@{
    Layout = "_Layout";
    ViewData["Title"] = "404 Not Found";
}

<div class="error-page">
    <div class="error-container">
        <img src="~/images/404.png" alt="404 Error Image"/>
        <span>404 ERROR</span>
        <span>Page Not Found</span>
        <span>Opps! The page you&#39;re looking for doesn&#39;t exist. It might have been moved or deleted.</span>
        <div class="d-flex justify-content-between align-items-center column-gap-5">
            <button class="error-go-back-button" onclick="window.history.back()">Go Back</button>
            <a asp-action="UserDashboard" asp-controller="Dashboard" class="error-home-page-button">Home Page</a>
        </div>
        
    </div>
</div>
