@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Leaderboard";
}

<div>
    <div class="leaderboard-container">
        <div class="container module-lead-con">
            <span class="view-lead-text">View Leaderboard</span>
            <button id="overallLeaderboard" class="leaderboard-sidebar" type="button">Overall</button>
            <button id="perModuleLeaderboard" class="leaderboard-sidebar" type="button">Module 1</button>
        </div>
        <div class="container rank-lead-con">
            <div class="leaderboard-head-con">
                <span class="leaderboard-text">Leaderboard</span>
                <span id="leaderboard-filter">
                    Filter
                    <img src="~/images/Filter.png" alt="Filter" />
                </span>
            </div>
            <div class="inside-container-leaderboard">
                <div id="leaderboard-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="~/images/1st_Place_Medal.png" alt="1st Place Medal" />1</td>
                                <td>
                                    <div></div>Alex Porlares
                                </td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td><img src="~/images/2nd Place Medal.png" alt="2nd Place Medal" />2</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/3rd Place Medal.png" alt="3rd Place Medal" />3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />4</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />5</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />6</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />7</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />8</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />9</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Star.png" alt="Star" />10</td>
                                <td>
                                    <div></div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
