@model GedsiHub.Models.Assessment

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Edit Assessment";
}


<!-- Create Assessment -->
<div>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item">
            <!-- Proceed to list of modules page -->
            <a asp-controller="Module" asp-action="Index"><span>Modules</span></a>

        </li>
        
        <li class="breadcrumb-item">
            <!-- Proceed to list of lessons page (Module/Details) -->
            <a asp-action="Details" asp-controller="Module" asp-route-id="@Model.ModuleId">
                <span asp-controller="Module" id="module_number" class="module_number">Module.Title</span>
            </a>
        </li>
        <!-- Current lesson page -->
        <li class="breadcrumb-item">
            <a asp-action="Edit"><span>Edit Assessment</span></a>
        </li>
    </ol>


    <!-- Assessment Title -->
    <span class="assessment_title">Edit Assessment</span>

    <!-- Form for editing module assessment -->
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="AssessmentId" />
        <input type="hidden" asp-for="ModuleId" />

        <div class="cms_white_base_container">
            <!-- Title Input -->
            <div class="form-group">
                <h1 style="color: #464040; font-size: 1.5625rem;">Title</h1>
                <input asp-for="Title" class="form-control assessment_input" placeholder="Enter Assessment Title" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Description Input -->
            <div class="form-group">
                <h1 style="color: #464040;font-size: 1.5625rem; margin-top: 1.5625rem;">Description</h1>
                <textarea asp-for="Description" class="form-control assessment_input_textarea" rows="3" placeholder="Enter Assessment Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- H5P Embed Code -->
            <div class="form-group">
                <h1 style="color: #464040;font-size: 1.5625rem; margin-top: 1.5625rem">H5P Embed Code</h1>
                <textarea asp-for="H5PEmbedCode" class="form-control assessment_input_textarea" rows="3" placeholder="Paste the entire H5P iframe embed code here" required></textarea>
                <span asp-validation-for="H5PEmbedCode" class="text-danger"></span>
            </div>

            <!-- Submit and Cancel Buttons -->
            <div class="button-container">
                <!-- Cancel Button -->
                <a asp-action="Details" asp-controller="Module" asp-route-id="@Model.ModuleId" class="btn fw-bolder cancelButton">Cancel</a>

                <!-- Add Module Button -->
                <input type="submit" value="Save Changes" class="btn fw-bolder SubmitButton" />

            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
