<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GedsiHub</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900|Staatliches&display=swap&subset=latin-ext">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/login.css" />
  
    
    


</head>
<body>
    <header>
        @* Conditional rendering of navbars based on authentication *@
        @* Conditional rendering of navbars based on authentication *@
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("_NavbarApplication")
        }
        else
        {
            @await Html.PartialAsync("_NavbarPublic")
        }
    </header>
    <div>
        @RenderBody()
    </div>


@*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GedsiHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
*@

    <!-- Added from Bootstrap Studio -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
