<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GEDSIHUB</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900|Staatliches&display=swap&subset=latin-ext">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <link rel="stylesheet" href="~/css/emailsent-fp.css" />
    <link rel="stylesheet" href="~/css/signup-form.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body data-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">


 @*
     -- This is the original header --
    <header>
        -- Conditional rendering of navbars based on authentication --
        -- Conditional rendering of navbars based on authentication --
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("_NavbarApplication")
        }
        else
        {
            @await Html.PartialAsync("_NavbarPublic")
        }
    </header>
 *@

 
    <header>
        <nav class="navbar navbar-expand-md fixed-top" style="background: #ffffff">
            <div class="container-fluid">
                <a class="navbar-brand login" asp-area="" asp-controller="Home" asp-action="Index">GEDSI HUB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- REMOVED: THIS AREA IS FOR DEBUGGING PURPOSES ONLY -->

                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ForumPost" asp-action="Index">Forum Posts</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div> 

                <!-- Removed when done -->
            </div>
        </nav>
    </header>   
    <div>
        @RenderBody()
    </div>


@*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GedsiHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
*@

    <!-- Added from Bootstrap Studio -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/global.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
