<!-- Don't forget to add "[Authorize]" for every Razor paage for the Main Application for this Navbar to work-->

<!-- _NavbarPublic.cshtml -->
<nav class="navbar navbar-expand-md fixed-top" style="background: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand login" asp-page="/Index">GEDSI HUB</a>
    </div>
</nav>


