.AddModuleDataContainer {
    background: #ffffff;
    height: auto;
    padding: 3.125rem 3.125rem;
    margin-top: 2.65625rem;
    padding-left: 3.125rem;
    border-radius: 1.875rem;
    box-shadow: 0rem 0.3125rem 0.390625rem rgba(0, 0, 0, 0.25);
    max-width: 100% !important;
}

.InputBox {
    font-size: 1.5625rem;
    height: 4.625rem;
    border: 0.078125rem solid #464040;
    box-shadow: inset 0rem 0.234375rem 0.3125rem #d9d9d9;
    border-radius: 0.9375rem;
    width: 100%;
    padding-left: 1.5625rem;
    transition: border-color 0.3s ease, border-width 0.3s ease;
    outline: none;
    color: #464040;
}

.InputBox-ta {
    font-size: 1.5625rem;
    height: 12.5rem;
    border: 0.078125rem solid #464040;
    box-shadow: inset 0rem 0.234375rem 0.3125rem #d9d9d9;
    border-radius: 0.9375rem;
    width: 100%;
    padding: 1.2rem 1.5625rem;
    transition: border-color 0.3s ease, border-width 0.3s ease;
    outline: none;
    color: #464040;
}

.AddModuleDataContainer .row {
    margin-bottom: 1.4rem;
}
.InputBox::placeholder {
    font-family: 'Poppins';
    color: #9c9c9c;
    font-weight: 200;
}

.InputBox-ta::placeholder {
    font-family: 'Poppins';
    color: #9c9c9c;
    font-weight: 200;
}

.AddModule_InputBox:focus {
    border-color: #464040;
    border-width: 0.15625rem;
    outline: none;
}

#AddModule_Title {
    width: 50.390625rem;
}

.AddModule_Icon {
    padding-top: 2.65625rem;
    padding-bottom: 2.34375rem;
    width: 11.5rem;
}

.AddModule_ImageContainer {
    border-radius: 0.78125rem;
}

.AddModule_Icon_Guidelines {
    font-size: 0.78125rem;
    color: #6E7485;
    width: 15rem;
    text-align: justify;
    line-height: 1.4;
}

.AddIcon_Button {
    padding-top: 0;
    margin-top: -2.578125rem;
    background: rgba(255,255,255,0);
    color: #464040;
    border: 0.078125rem solid #464040;
    border-radius: 1.5625rem;
    font-size: 0.9375rem;
    width: 15rem;
    height: 2.5rem;
    padding-bottom: 0;
    transition: all 0.2s ease;
    font-weight: 600;
}

.AddIcon_Button:hover {
    border: 0.15625rem solid #464040;
    border-radius: 1.5625rem;
}

.AddIcon_Button:active {
    transform: scale(0.95);
    box-shadow: 0 0.15625rem 0.625rem rgba(0, 0, 0, 0.1);
}

.chooseIcon {
    width: 1.5625rem;
    height: 1.40625rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2rem; 
    margin-top: 2rem;

}

.cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(10,88,202,0);
    color: #464040;
    border: 0.078125rem solid #464040;
    border-radius: 3.90625rem;
    width: 17.1875rem;
    font-weight: 900;
    height: 4.296875rem;
    font-size: 1.5625rem;
    transition: all 0.2s ease;
}

.cancelButton:hover {
    border: 0.15625rem solid #464040;
    border-radius: 3.90625rem;
    color: #464040;
}

.cancelButton:active {
    transform: scale(0.95);
    box-shadow: 0 0.15625rem 0.625rem rgba(0, 0, 0, 0.1);
}

.SubmitButton {
    background: #660000;
    color: #fff;
    border-radius: 3.90625rem;
    font-weight: 900;
    height: 4.296875rem;
    width: 17.1875rem;
    font-size: 1.5625rem;
    transition: all 0.2s ease;
    border: none;
}

.SubmitButton:active {
    transform: scale(0.95);
    box-shadow: 0 0.15625rem 0.625rem rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #920000;
    border-style: none;
}

.SubmitButton:hover {
    background-color: #920000;
    color: #ffffff;
}
