.parent-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    height: 100vh; /* Make sure the parent has a height to center within */
}

.results-header {
    margin-top: 2.4375rem;
}
.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background: #ffffff;
    padding: 30px;
    max-height: 100%;
    margin-left: 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    width: 50%;
    box-sizing: border-box;
    color: #464040;
    margin-bottom: 1.5rem;
}

.results-container span {
    font-weight: 600;
    margin-right: 0.8rem;
}


.results-content {
    display: flex;
    flex-direction:column;
    gap: 1rem;
}
.download_cert_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #660000;
    color: #fff;
    border-radius: 3.125rem;
    font-weight: 500;
    line-height: 1.0625rem;
    font-size: 1.05875rem;
    transition: all 0.2s ease;
    border-style: none;
    height: 2.57125rem;
    width: 14rem;
}

.download_cert_button:active {
    transform: scale(0.95);
    box-shadow: 0 0.125rem 0.9375rem rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #920000 !important;
}

.download_cert_button:hover {
    background-color: #920000 !important;
}


.assessment-result-text {
    font-weight: 600;
    font-size: 2rem !important;
    padding-bottom: 1.5rem;
    color: #660000;
}

.assessment-result-container span {
    font-size: 1.6rem;
}

.assessment-result-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .assessment-result-container div span {
        font-weight: 400;
    }

.your-score div {
    color: #660000;
    font-weight: 600 !important;
    margin-top: 1rem;
}

.your-score img {
    width: 3rem;
    margin-bottom: 1rem !important;
}

img.rocker_icon {
    width: 5rem !important;
}
.your-score i {
    font-size: 3rem;
    color: #660000;
    margin-bottom: 1rem;
}

