#lesson_container {
    max-width: 99%;
    margin-top: 1.925rem;
    border-radius: 1.546875rem;
    height: 16.0875rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    overflow-y: hidden;
    border-radius: 1.71875rem;
}

.AddLessonContainer {
    background: #ffffff;
    width: 65%;
    margin-top: 1.925rem;
    border-radius: 1.546875rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    box-shadow: 0rem 0.34375rem 1.03125rem rgba(0,0,0,0.2);
}

.breadcrumb-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%; /* Set width to 65% */
    
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #9c9c9c;
    margin: 0; 
    padding: 0; 
    list-style: none;
}

#breadcrumb {
    margin-top: 3.78125rem;
    color: #9c9c9c;
    display: flex;
}

.breadcrumb-item span {
    padding-left: 0.5625rem;
    font-weight: 600;
}

.breadcrumb-item:first-of-type span {
    padding-left: 0;
}

#added_module_title {
    color: #464040;
    font-size: 1.71875rem;
    font-weight: 600;
    position: relative;
    top: -0.9625rem;
}

#added_assessment_title {
    color: #464040;
    font-size: 1.71875rem;
    font-weight: 600;
    position: relative;
    top: -0.9625rem;
    margin-bottom: -2rem;
}

#add_new_lesson_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2.40625rem;
    padding-bottom: 1.375rem;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: center; /* Center contents horizontally */
    justify-content: center; /* Center contents vertically */
    text-align: center;
}

.no_lessons_added_text {
    color: #660000;
    font-weight: bold;
    font-size: 1.5125rem;
}



.create_lesson_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.1175rem;
    background: #660000;
    color: #fff;
    border-radius: 3.78125rem;
    font-weight: 500;
    line-height: 1.285625rem;
    font-size: 1.05875rem;
    transition: all 0.2s ease;
    border-style: none;
    height: 2.57125rem;
    width: 14rem;
}

.create_lesson_button:active {
    transform: scale(0.95);
    box-shadow: 0rem 0.1375rem 0.6875rem rgba(0, 0, 0, 0.1);
    color: #ffffff !important; 
    background-color: #920000 !important;
    border-style: none;
}

.create_lesson_button:hover {
    background-color: #920000 !important;
    color: #fff !important;
}

#add_icon_create_lesson {
    width: 1.1rem;
    margin-right: 0.825rem;
}

#all_lesson_container {
    margin-top: 1.925rem;
    border-radius: 1.546875rem;
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    margin-left: 0;
    border-radius: 1.71875rem;
    padding-right: 0;
    padding-left: 0;
    overflow-y: auto;
    height: auto;
    overflow: visible;
}

.module-desc-text {
    color: #464040;
    font-weight: 400 !important;
    background-color: none;
    width: 65%;
    font-size: 1.05875rem;
}

