.con-of-con-of-success-mess {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.success-message-container {
    background: #ffffff;
    width: 35%;
    min-height: 70%;
    max-height: 100%;
    border-radius: 1.875rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: #464040;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    .success-message-container img {
        width: 5rem;
    }

.text-submitted {
    font-size: 1.5rem;
    font-weight: 600;
}

.submitted-message {
    font-size: 1.2rem;
    text-align: justify;
}

.submitted-done-button {
    background-color: #660000;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding: 0.4rem;
    margin-top: 1rem;
    border-radius: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    transition: all 0.2s ease;
    text-decoration: none;
}

    .submitted-done-button:hover {
        background-color: #880000;
        color: #ffffff;
    }

    .submitted-done-button:active {
        transform: scale(0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        background-color: #920000;
        border-style: none;
    }




@media (max-width: 575.98px) {
    .success-message-container {
        width: 64%;
        padding: 1.5rem;
        height: auto; /* Let height adjust based on content */
    }

        .success-message-container img {
            width: 2.25rem;
        }

    .text-submitted {
        font-size: 0.75rem;
    }

    .submitted-message {
        font-size: 0.64rem;
    }

    .submitted-done-button {
        font-size: 0.68rem;
        width: 52.5%;
        height: 1.65rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .success-message-container {
        width: 56.25%;
        padding: 1.875rem;
        height: auto; /* Let height adjust based on content */
    }

        .success-message-container img {
            width: 2.625rem;
        }

    .text-submitted {
        font-size: 0.9rem;
    }

    .submitted-message {
        font-size: 0.75rem;
    }

    .submitted-done-button {
        font-size: 0.75rem;
        width: 48.75%;
        height: 1.8rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .success-message-container {
        width: 45%;
        padding: 2.25rem;
        height: auto; /* Let height adjust based on content */
    }

        .success-message-container img {
            width: 3rem;
        }

    .text-submitted {
        font-size: 0.975rem;
    }

    .submitted-message {
        font-size: 0.75rem;
    }

    .submitted-done-button {
        font-size: 0.75rem;
        width: 45%;
        height: 1.875rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .success-message-container {
        width: 37.5%;
        padding: 2.625rem;
        height: auto; /* Let height adjust based on content */
    }

        .success-message-container img {
            width: 3.375rem;
        }

    .text-submitted {
        font-size: 1.05rem;
    }

    .submitted-message {
        font-size: 0.825rem;
    }

    .submitted-done-button {
        font-size: 0.825rem;
        width: 41.25%;
        height: 2.025rem;
    }
}
