.back-button, .submit-button {
    height: 4.296875rem;
    width: 17.1875rem;
    margin-top: 1.7rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5625rem;
    transition: all 0.2s ease;
    border-style: none;
}

.back-button {
    border: 1px solid #464040;
    background-color: #ffffff;
    color: #464040;
}

    .back-button:hover {
        border: 0.15625rem solid #464040;
        border-radius: 3.90625rem;
        color: #464040;
    }

.back-button:active {
    transform: scale(0.95);
    box-shadow: 0 0.15625rem 0.625rem rgba(0, 0, 0, 0.1);
}

.submit-button {
    background-color: #660000;
    color: #ffffff;
}

    .submit-button:hover {
        background-color: #920000;
        color: #ffffff;
    }

    .submit-button:active {
        transform: scale(0.95);
        box-shadow: 0 0.15625rem 0.625rem rgba(0, 0, 0, 0.1);
        color: #ffffff;
        background-color: #920000;
        border-style: none;
    }

.back-submit-button-container {
    margin-top: 1rem;
}

:root {
    --select-border: 1px solid #464040;
    --select-focus-border-color: #464040; /* Changed to #464040 */
    --select-hover-border-color: #5a6268; /* A slightly darker gray for hover effect */
    --select-shadow: inset 0px 3px 4px #d9d9d9;
    --select-focus-shadow: 0 0 0 2px rgba(70, 64, 64, 0.25); /* Soft shadow with the #464040 tone */
    --select-background-color: white;
    --select-background-active-color: #f8f9fa;
    --select-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDZMMTAgMTVMMSA2IiBzdHJva2U9IiM0NjQwNDAiIHN0cm9rZS13aWR0aD0iMiIgLz4KPC9zdmc+Cg==');
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 4rem;
    border: var(--select-border);
    box-shadow: var(--select-shadow);
    border-radius: 1rem;
    padding: 0 2rem;
    transition: border-color 0.3s ease, border-width 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    color: #9c9c9c;
    width: 100%;
    background: var(--select-icon) no-repeat right 1.5rem center;
    background-size: 16px;
    margin-top: 1rem;
    font-size: 1.2rem;
    position: relative;
}

    .select:hover {
        border-color: var(--select-hover-border-color); 
    }


    .select:focus {
        border-color: var(--select-focus-border-color);
        box-shadow: var(--select-focus-shadow);
        border-width: 2px;
        color: #464040;
    }
    

        .select option[disabled] {
            color: #999999;
        }

.select:valid {
    color: #464040; 
}

.back-submit-button-container {
    display: flex;
    justify-content: space-between;
}

.type-affected-con {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.select-container-type-of-issue, .select-container-affected-area {
    width: 100%;
}

.desc-textarea {
    width: 100%;
    height: 8rem;
    border: 1px solid #464040;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: #464040;
    background-color: white;
    box-shadow: inset 0px 3px 4px #d9d9d9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    resize: vertical; /* Allows resizing vertically, but not horizontally */
    outline: none;
    margin-top: 1rem;
}

    .desc-textarea:hover {
        border-color: #5a6268; /* Slightly darker shade on hover */
    }

    .desc-textarea:focus {
        border-color: #464040; /* Focus color stays #464040 */
        box-shadow: 0 0 0 2px rgba(70, 64, 64, 0.25); /* Soft shadow using the same color tone */
        background-color: #f8f9fa; /* Optional: Lighten background color when focused */
        border-width: 2px; /* Thicker border on focus */
    }


.form-container {
    background: #ffffff;
    max-height: 49rem;
    max-width: 100% !important;
    padding: 4rem;
    border-radius: 1.875rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: #464040;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.type-affected-con, .textarea-issue-desc, area-evidence-container, .custom-file-label span {
    font-size: 1.2rem;
}

.file-input-feedback-form {
    display: flex !important;
    align-items: center !important;
    width: 50% !important;
    border: 1px solid #464040 !important;
    border-radius: 1rem !important;
    font-size: 1.2rem !important;
    color: #464040 !important;
    background-color: #fff !important;
    cursor: pointer !important;
    padding: 0 !important;
    height: 4rem !important;
    box-sizing: border-box !important;
    box-shadow: inset 0px 3px 4px #d9d9d9 !important;
    margin-top: 1rem !important;
    position: relative !important; 
    overflow: hidden !important; 
}



    .file-input-feedback-form::-webkit-file-upload-button {
        background-color: #E0E1E7 !important;
        color: #464040 !important;
        border: none !important;
        padding: 17px 20px !important;
        border-radius: 10px 0 0 10px !important;
        cursor: pointer !important;
        font-size: 1.2rem !important;
        flex: 0 0 auto !important;
        text-align: center !important;
        margin-right: 1rem !important;
        transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for hover effect */
        background-image: linear-gradient(to bottom, #f7f8fa, #E0E1E7); /* Gradient to mimic light source */
    }

.file-input-feedback-form::after {
    content: 'No file chosen';
    flex: 1 1 auto !important;
    padding-left: 15px !important;
    color: #464040 !important;
    font-size: 1.2rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}


.area-evidence-container {
    width: 100%;
    display: block;
}

.custom-file-label {
    width: 100%;
    display: block;
}

#typeOfSuggestionSelect {
    width: 50%;
    display: block;
}

.custom-select-wrapper {
    position: relative;
    width: 100%; /* Ensure the wrapper takes full width */
    max-width: 100%; /* Prevent overflow on smaller screens */
    display: flex;
    flex-direction: column;
     /* Add some spacing between the select and input */
}

.hidden-input {
    display: none; /* Initially hidden */
    width: 85%; /* Make the input take the full width of the wrapper */
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #464040;
    margin-left: 1.5rem;
    box-sizing: border-box;
    background-color: #fff; /* Transparent background */
    border: none; /* Add a border to keep it visible when shown */
    outline: none;
    z-index: 0; /* Ensure the input stays below the select */
    position: absolute; /* Relative to the parent container */
    top: 1.5rem;

}

    /* When the input is focused or active, ensure it's visible */
    .hidden-input:focus,
    .hidden-input:active {
        display: inline-block; /* Ensure it shows when active or focused */
        background-color: #fff; /* Keep background transparent */
        outline: none;
        border: none;
    }

#otherComplaintInput {
    margin-top: 1.8rem !important; /* Ensure it aligns with the select box */
}

#otherSuggestionInput {
    width: 43% !important;
}






/* Responsive behavior */
@media (max-width: 768px) {
    .select, .hidden-input {
        font-size: 1.2rem;
        padding: 0.4rem;
    }
}

@media (max-width: 480px) {
    .select, .hidden-input {
        font-size: 1.2rem;
        padding: 0.3rem;
    }
}