@media (min-width: 992px) {

    /* Comment Section Styling */
    .comments-section .list-group-item {
        border: none;
        background-color: #1a1a1b; /* Reddit/Discord like dark background */
        color: #d7dadc;
    }

    .list-group-item {
        border: none;
    }

    .comment-profile-pic img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .comment-user-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .comment-username {
        font-size: 14px;
        font-weight: 600;
        color: #464040;
    }

    .comment-date {
        font-size: 13px;
        color: #999 !important;
        font-weight: 400;
        margin-left: 5px;

    }

    .comment-content {
        color: #d7dadc; /* Light text for comment content */
        margin-top: 10px;
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 15px;
        color: #464040;
        font-weight: 400;
        background: #fff;
    }

    .comment-icon {
        font-size: 20px !important;
        color: #464040;
        margin: 0px;
    }


    .comment-icon:active {
        color: #b72f17;
    }

    .c-delete-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 1.5rem;
        padding: 2px;
        border-radius: 6px;
        border: none;
        margin: 10px;
    }


    .c-delete-btn:hover {
        background-color: #f3d1d1;
    
        border-radius: 6px;
        border: none;
    }

    .c-delete-btn:hover .comment-icon {
        color: #b72f17;
    }

    .c-delete-btn:active {
        background-color: #f3d1d1 !important;
        padding: 2px;
        border-radius: 6px;
        border: none;
    }

    .c-delete-btn:active .comment-icon {
        color: #b72f17;
    }

    .modal-del-btn {
        margin-left: 5px;
    }


    /* Comment Image Styling */
    .img-thumbnail {
        margin-top: 10px;
        border-radius: 8px;
        max-width: 100%;
    }

    .comment-input-ta {
        border-radius: 12px;
        color: #464040;
        font-size: 15px;
        padding: 15px;
        margin-bottom: 5px;
        max-width: 100%;
    }

    .comment-footer{
        background-color: rgba(0,0,0,0);
    }

    .comment-footer p {
        padding-right: 25px;
    }

    .comment-footer h5 {
        margin: 15px 25px;
    }

    .comment-footer h6 {
        margin: 0px 25px;
    }
    .comment-img {
        max-width: 300px; /* Maximum width of 600px, adjust to your layout */
        width: 100%; /* Image takes up full width of its container */
        height: auto; /* Maintain aspect ratio */
        display: block;
        margin: 10px auto;
        margin-left: 40px;
        border-radius: 15px;
    }

    .comment-form {
        margin: 15px 25px;
    }

    /* Post Button */
    .comment-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 14px;
        color: #ffffff;
        background: #660000;
        max-width: 200px;
        font-weight: 500;
        height: 35px;
        border-style: none;
        cursor: pointer;
        margin-top: 15px;

    }



    /* Style the camera icon label */
    .image-icon-label {
        cursor: pointer;
        font-size: .8em; /* Adjust size of the SVG icon */
        color: #464040;
        display: inline-flex;
        align-items: center;
        margin: 5px 0px;

    }

    .image-icon-label:hover {
        color: #660000; /* Hover effect on the camera icon */
    }

    /* Image preview container */
    .imagePreview:nth-child(4n) {
        margin-right: 0;
    }

    .imagePreview {
        height: 85px;
        width: 85px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        position: relative;
        margin-right: 7px;
    }

    .imagePreview img {
        width: 100%;
        height: 100%;
    }

    .imagePreview span {
        position: absolute;
        top: -4px;
        right: 5px;
        cursor: pointer;
        font-size: 22px;
        color: #fff;
    }

     .imagePreview span:hover {
         opacity: 0.8;
     }


   

}
