@media (min-width: 992px) {

    /* Comment Section Styling */
    .comments-section .list-group-item {
        border: none;
        background-color: #1a1a1b; /* Reddit/Discord like dark background */
        color: #d7dadc;
    }

    .list-group-item {
        border: none;
    }


    .post-img {
        max-width: 100%;
        max-height: 30rem;
        display: block;
        margin: 0 auto;
        border-radius: 15px;
    }



    .comment-profile-pic img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .comment-user-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .comment-username {
        font-size: 14px;
        font-weight: 600;
        color: #464040;
    }

    .comment-date {
        font-size: 13px;
        color: #999 !important;
        font-weight: 400;
        margin-left: 5px;

    }

    .comment-content {
        color: #d7dadc; /* Light text for comment content */
        margin-top: 10px;
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 15px;
        color: #464040;
        font-weight: 400;
        background: #fff;
    }

    .comment-icon {
        font-size: 25px !important;
        color: #464040;
        margin: 0px;
    }


    .comment-icon:active {
        color: #b72f17;
    }

    .c-delete-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0px;
        border-radius: 50%;
        border: none;
    }


    .c-delete-btn:hover {
        background-color: #f3d1d1;
        border-radius: 50%;
        border: none;
    }

    .c-delete-btn:hover .comment-icon {
        color: #b72f17;
    }

    .c-delete-btn:active {
        background-color: #f3d1d1 !important;
        padding: 0px;
        border-radius: 50%;
        border: none;
    }

    .c-delete-btn:active .comment-icon {
        color: #b72f17;
    }

    .modal-del-btn {
        margin-left: 5px;
    }


    /* Comment Image Styling */
    .img-thumbnail {
        margin-top: 10px;
        border-radius: 8px;
        max-width: 100%;
    }

    .comment-input-ta {
        border-radius: 12px;
        color: #464040;
        font-size: 15px;
        padding: 15px;
        margin-bottom: 5px;
        max-width: 100%;
    }

    .comment-footer{
        background-color: rgba(0,0,0,0);

    }

    .comment-footer p {
        padding-right: 25px;
    }

    .comment-footer h5 {
        margin: 15px 25px;
    }

    .comment-footer h6 {
        margin: 10px 25px;
    }
    .comment-img {
        max-width: 300px; /* Maximum width of 600px, adjust to your layout */
        width: 100%; /* Image takes up full width of its container */
        height: auto; /* Maintain aspect ratio */
        display: block;
        margin: 10px auto;
        margin-left: 40px;
        border-radius: 15px;
    }

    .comment-form {
        margin: 15px 25px;
    }

    /* Post Button */
    .comment-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 14px;
        color: #ffffff;
        background: #660000;
        max-width: 200px;
        font-weight: 500;
        height: 35px;
        border-style: none;
        cursor: pointer;
        margin-top: 15px;

    }



    /* Style the camera icon label */
    .image-icon-label {
        cursor: pointer;
        font-size: .8em; /* Adjust size of the SVG icon */
        color: #464040;
        display: inline-flex;
        align-items: center;
        margin: 5px 0px;

    }

    .image-icon-label:hover {
        color: #660000; /* Hover effect on the camera icon */
    }

    /* Image preview container */
    .imagePreview:nth-child(4n) {
        margin-right: 0;
    }

    /* Image preview container */
    .imagePreview {
        height: 5.3125rem; 
        width: 5.3125rem; 
        border-radius: 0.625rem; 
        box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.15); 
        overflow: hidden;
        position: relative;
        margin-right: 0.4375rem; 
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    }

    .imagePreview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .imagePreview span {
        position: absolute;
        top: -0.25rem;
        right: 0.3125rem; 
        cursor: pointer;
        font-size: 1.25rem; 
        color: #fff;
        padding: 0.125rem 0.375rem;
        transition: background-color 0.2s ease-in-out;
    }


    .imagePreview:hover {
        transform: scale(1.05);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25); /* 8px */
    }


    .imagePreview span:hover {
        opacity: 0.8;
    }

    .imagePreview:nth-child(4n) {
        margin-right: 0;
    }

    .btn-outline-danger {
        border-radius: 1.5rem;
    }


    .report_input_textarea {
        display: block;
        border-radius: 0.7rem;
        width: 100%;
        border-width: 0.075rem;
        border: 0.075rem solid #9C9C9C;
        padding: 0.8rem;
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
