


#ModulesHeader {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 0.78125rem;
    width: 100%;
}

.module_break{
    margin-top: 0.38rem;
}

#addModuleTopButton {
    background: #660000;
    color: #fff;
    border-radius: 3.90625rem;
    width: 13.046875rem;
    font-weight: 500;
    height: 2.734375rem;
    font-size: 1.015625rem;
    margin-top: 2rem;
    transition: all 0.2s ease;
    border-style: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.171875rem;
    padding-right: 1.171875rem;
    justify-self: end;
    min-width: 13.046875rem;
    margin-right: -1.5625rem;
}

#addModuleTopAddIcon {
    width: 1.5625rem;
}

#addModuleTopButton:active {
    transform: scale(0.95);
    box-shadow: 0 0.15625rem 0.78125rem rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #920000;
    border-style: none;
}

#addModuleTopButton:hover {
    background-color: #920000;
}


#modules-search-con {
    margin-right: 1.5rem;
}




.modules_title {
    margin-top: 2.4375rem;
    margin-left: 0;
    font-size: 2.03125rem;
    color: #464040;
}

.break_title {
    height: 0.08125rem;
    width: 100%;
    background: #B7BAC7;
    margin-left: 0;
    position: static;
    margin-top: 0;
}

.moduleCards_container {
    margin-top: 3.5rem;
    width: 100%;
    position: relative;
    border-style: none;
}

#moduleCardsContainer {
    display: flex;
    gap: 3.65625rem;
    margin-top: 3.5rem;
    width: 100%;
}


.ColorInput {
    transform: scale(1.5);
    transform-origin: center;
    appearance: none;
    -webkit-appearance: none;
    width: 4.46875rem;
    height: 4.46875rem;
    border-radius: 52%;
    border: none; /* Remove border */
    cursor: pointer;
    padding: 0;
    outline: none;
    box-shadow: none; /* Remove any default shadow */
}

    /* To ensure hover shadow looks smooth */
    .ColorInput:hover {
        box-shadow: 0 0 0.40625rem rgba(0, 0, 0, 0.2); /* Optional hover effect */
    }

    /* Remove any default focus outline */
    .ColorInput:focus {
        outline: none;
    }



.module_card {
    height: 18.6875rem;
    background: #ffffff;
    border-radius: 3.25rem;
    width: 19.09375rem;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 0.1625rem 0.8125rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3125s ease, opacity 0.3125s ease;
    display: flex;
    flex-direction: column;
    
}

    .module_card:hover {
        transform: scale(1.0712);
    }

.secondRow_modules {
    margin-top: 3.9rem;
}

.column_moduleCards {
    padding-left: 0;
    padding-right: 0;
}



.moduleIcon_container {
    width: 4.46875rem;
    height: 4.46875rem;
    background: #d9d9d9;
    border-radius: 52%;
    margin-top: -2.19375rem;
    margin-left: 2.275rem;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none; /* Ensure no border */
    box-shadow: none; /* Remove any default shadow */
    padding: 0;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out; /* Smooth shadow transitions */
}

/* Hover effect for the container shadow */
.moduleIcon_container:hover {
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2); /* Example hover shadow */
}

.add_icon {
    width: 6.5rem;
    margin-left: 5.2rem;
    padding-bottom: 0.40625rem;
}

.add-new-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19.09375rem;
    height: 18.6875rem;
    border-radius: 3.25rem;
    border: 0.1625rem solid #464040;
    background: rgba(10,88,202,0);
    color: #464040;
    font-size: 1.4625rem;
    font-weight: 500;
    transition: transform 0.3125s ease, border 0.10416s ease, box-shadow 0.3125s ease;
}

    .add-new-module:hover {
        transform: scale(1.0712);
        color: #464040;
        border: 0.24375rem solid #464040;
        box-shadow: inset 0 0 1.4625rem rgba(124,124,124,0.2);
    }

    .add-new-module:active {
        transform: scale(0.99456);
        transition: transform 0.3125s ease;
        box-shadow: inset 0 0 1.4625rem rgba(124,124,124,0.2);
    }

    .add-new-module img {
        transition: transform 0.3125s ease;
        margin-bottom: 0.8125rem;
        margin-right: 5.0375rem;
    }

    .add-new-module:hover img {
        transform: scale(1.1232);
    }

.ModuleTitle {
    margin-top: 1rem;
    margin-left: 0;
    font-size: 1.3rem;
    font-weight: 600 !important;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.248;
    max-height: calc(1.248em * 2);
}

.NumberOfLessonsContainer {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.LessonIcon {
    width: 1.05625rem;
    height: 0.975rem;
/*    margin-top: 0.208rem;*/
}

.LessonsText, .NumberOfLessons {
    font-size: 0.975rem;
    color: #737373;
}

#NumberOfLessons {
    padding-right: 0.40625rem;
    padding-left: 0.40625rem;
}

.LikeViewContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
}

#ViewCount, #LikeCount {
    font-size: 0.975rem;
    color: #9c9c9c;
    margin-left: 0;
}

.LikeIcon, .ViewIcon {
    width: 1.38125rem;
    padding-right: 0.3125rem;
}

.ViewOnlyContainer, .LikeOnlyContainer {
    display: flex;
    align-items: center;
    align-content: center;
}

.LikeOnlyContainer {
    justify-content: flex-start;
}

.ViewOnlyContainer {
    justify-content: flex-end;
}

.ModuleCard_LineBreak {
    height: 0.08125rem;
    background: #d9d9d9;
    border-radius: 0.8125rem;
}

#DeleteModule, #EditModule {
    margin-bottom: 2.4375rem;
}

.Delete {
    width: 1.7875rem;
    height: 1.7875rem;
    transition: all 0.3125s ease;
}

#DeleteModule:hover {
    transform: scale(1.14464);
    opacity: 1;
    filter: brightness(1.768);
}

#DeleteModule:active {
    transform: scale(0.988);
    box-shadow: 0 0.1625rem 0.8125rem rgba(0, 0, 0, 0.1);
}

.Edit {
    width: 1.625rem;
    height: 1.625rem;
    margin-top: 0.1625rem;
    margin-right: 0.56875rem;
    transition: all 0.3125s ease;
}

#EditModule:hover {
    transform: scale(1.14464);
    filter: brightness(0.52);
}

#EditModule:active {
    transform: scale(0.988);
    box-shadow: 0 0.1625rem 0.8125rem rgba(0, 0, 0, 0.1);
}

#modCardButtonContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.664rem;
}

#toggleButtonPublishUnpublishModule, #toggleButtonPublishUnpublishLesson, toggleButtonPublishUnpublishAssessment {
    display: flex;
    position: relative;
    gap: 10.4px;
}

    .toggle-content {
        cursor: pointer;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transition: all 0.3125s ease;
        border: none !important;
        outline: none !important;
        padding: 0 !important;
        margin: 0;
    }


    #publishModule {
        z-index: 2;
    }

#unpublishModule {
    z-index: 1;
}

.PublishIcon {
    width: 2.275rem;
    padding-right: 0.65rem;
}

.ModuleTempIcon {
    position: absolute;
    width: 3.4125rem;
    margin-left: 0.56875rem;
    margin-top: 0.325rem;
    pointer-events: none;
    z-index: 10;
}

.module_card {
    user-select: none;
}

#SearchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.65625rem;
    padding-top: 4.46875rem;
    justify-content: flex-start;
}

.ghost {
    opacity: 0.416;
    background-color: #eee;
    border: 0.1625rem dashed #ccc;
}

.dragging {
    opacity: 0.728;
    box-shadow: 0px 0.325rem 0.8125rem rgba(0, 0, 0, 0.2);
}

.chosen {
    background-color: #f0f0f0;
    border: 0.08125rem solid #ccc;
}


.module_list_grid_view .nav-link {
    color: #660000 !important; /* Font color for inactive state */
    border: 1px solid #660000 !important; /* Default border */
    transition: all 0.3s ease;
    padding: 0.55rem 1rem;
}

.module_list_grid_view .nav-link:hover {
    background-color: #660000 !important; /* Optional: Light hover effect */
    color: #fff !important; /* Keep hover font color consistent */
}

.module_list_grid_view .nav-link.active {
    background-color: #660000 !important; /* Active state background color */
    color: white !important; /* Active state font color */
    border: 1px solid #660000; /* Border for active state */
}

.module_list_grid_view .nav-link.active:hover {
    background-color: #660000 !important; /* Hover state for active item should remain the same */
}

.module_list_grid_view {
    margin-left: 2.5rem;
    margin-top: 2rem;
    flex-wrap: nowrap;
}

#grid-tab {
    border-radius: 0 3rem 3rem 0;
    margin-left: -3px !important; /* Remove gap between buttons */
    position: relative;
    z-index: 1; /* Make sure it overlaps slightly with the list button */
}

#list-tab {
    border-radius: 3rem 0 0 3rem;
    margin-right: -3px; /* Remove gap between buttons */
    position: relative;
    z-index: 1; /* Ensure it overlaps slightly with the grid button */
}

.table-responsive {
    background: #ffffff;
    min-height: 43rem;
    padding: 0px 50px 50px 50px !important;
    margin-left: 0px;
    border-radius: 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    box-sizing: border-box;

}

.module-header-label {
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: #464040 !important;
}

.module-content {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: #464040 !important;
}


.module-content .fa {
    margin-right: 0.25rem;
}


/*Action button Styles*/
#list-editModuleButton, #list-deleteModuleButton, #list-publishModuleButton, #list-unpublishModuleButton {
    border-radius: 1.5rem;
    border: 1px solid transparent;
    padding: 0.45rem 1.1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    color: #464040;
}

#list-editModuleButton img, #list-deleteModuleButton img, #list-publishModuleButton img, #list-unpublishModuleButton img {
    width: 1.5rem;
    margin-right: 0.4rem;
}

#list-editModuleButton {
    background: rgba(82,160,53,0);
    border: 1px solid #464040;
}

#list-deleteModuleButton {
    background: rgba(102,0,0,0.3);
}

#list-publishModuleButton {
    background: #ccf2d2;
    padding: 0.45rem 1.70rem;
}

#list-unpublishModuleButton {
    background: #f8d75d;
}

#list-deleteModuleButton:hover {
    background-color: #f0adad;
}

#list-publishModuleButton:hover {
    background-color: #b4f39d;
}

#list-unpublishModuleButton:hover {
    background-color: #ffd642;
}



#list-editModuleButton:active, #list-deleteModuleButton:active, #list-publishModuleButton:active, #list-unpublishModuleButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.action-buttons {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
}


.modules-actions-con {
    display: flex;
}

.module-table-rows {
    height: 3.5rem;
}

.modern-table {
    margin-top: 2.5rem !important;
}

.module-completed {
    display: flex;
    justify-content: space-between;
    color: #737373;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.hr-mod-card-user {
    position: relative; /* Or use absolute */
  width: 100%; /* Adjust as needed */
  
  padding: 0;
  border-top: 2px solid #ccc; 
}

#progress-bar {
   
}

.ModuleCard {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}
    

#addModuleTopButton::after {
    display: none;
}

/* Styling the dropdown menu */
#addModuleTopButton + .dropdown-menu {
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #ddd; /* Light border */
    min-width: 200px; /* Adjust width as needed */
    padding: 5px; /* Add padding to dropdown menu */
    border-radius: 1rem;
    margin-top: 0.5rem;
}

    /* Styling individual dropdown items */
    #addModuleTopButton + .dropdown-menu .dropdown-item {
        color: #333; /* Text color */
        padding: 8px 16px; /* Padding around items */
        transition: background-color 0.3s; /* Smooth hover transition */
        border-radius: 0.6rem;
    }

        /* Hover effect for dropdown items */
        #addModuleTopButton + .dropdown-menu .dropdown-item:hover {
            background-color: #660000; /* Hover color */
            color: #fff; /* Text color on hover */
        }

/* Optional: Add shadow to the dropdown menu */
#addModuleTopButton + .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
    

